(function(vm){

var packageName=vm.packageName||"${packageName}";
var className=$.upperFirstChar(vm.name);
var directoryName=packageName.replace(/\./g,"/");

return {
   "ClassName": className,
   "ClassNameEntity": className+"Entity",
   "directoryName": directoryName
};
})(vm);