<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>数据模型</title>
    <link rel="stylesheet" href="/common.css">
    <link rel="stylesheet" href="/lib/iview/iview.css">

    <script src="/lib/vue/vue.min.js"></script>
    <script src="/lib/iview/iview.min.js"></script>
    <script src="/common.js"></script>
    <style>

    </style>
</head>
<body>
<article>
    <section class="action-bar">
        <i-button :disabled="formChangedData==null" type="primary" @click="handleSubmitBtnClick">Save</i-button>
        <i-button  type="danger" @click="handleRemoveBtnClick">Delete</i-button>
    </section>
    <i-form v-if="form!=null" :model="form" :label-width="200" class="pad">
        <Form-Item label="File Type">
            <i-select v-model="form.fileType" disabled>
                <i-option value="js">Function</i-option>
                <i-option value="vm">View Model</i-option>
                <i-option value="beetl">Beetl Template</i-option>
            </i-select>
        </Form-Item>
        <Form-Item label="Namespace">
            <i-input v-model="form.namespace" placeholder="Split with '/'"></i-input>
        </Form-Item>
        <Form-Item label="File Name">
            <i-input v-model="form.name" placeholder=""></i-input>
        </Form-Item>
    </i-form>
</article>
<script>

    const urlParams=new URLSearchParams(location.search);
    const id=urlParams.get("id");
    
    const app = new Vue({
        el: "body>article",
        data() {
            return {
                form: null
            };
        },
        computed:{
            formChangedData(){
                let old=this.oldForm;
                let current=this.form;
                let updateField={};
                for(let key in old){
                    if(current[key]!==old[key]){
                        updateField[key]=current[key];
                    }
                }
                if(Object.keys(updateField).length===0){
                    return null;
                }
                return updateField;
            },
        },
        methods: {
            loadData(){
              this.fetch.get("/api/view/"+id).then(data=>{
                  this.form=data;
                  this.oldForm=JSON.parse(JSON.stringify(data));
              });
            },
            handleSubmitBtnClick(){
                if(this.formChangedData==null)return;
                this.fetch.put("/api/view/"+id,this.formChangedData).then(data=>{
                    this.$Message.success("Modifying Done");
                    window.top.postsMessage({
                        type:"ModViewOK"
                    });
                });
            },
            handleRemoveBtnClick(evt){
                this.$Modal.confirm({
                    content:"confirm?",
                    okText:"Yes",
                    cancelText:"No",
                    onOk:function (){
                        app.fetch.delete("/api/view/"+id).then(data=>{
                            app.$Message.success("Deleting Done");
                            app.form=null;
                            window.top.postsMessage({
                                type:"DeleteViewOK"
                            });
                        })
                    }
                });
            },
        },
        created() {
            this.loadData();
        }
    });
</script>
</body>
</html>